<div class="container-fluid">
  <div class="row">
    <div class="col s3 profileContainer" style="padding: 0">
      <div class="profile center-align">
        <img src="./assets/profileImageDefault.png" alt="">
        <p>{{user.first_name}}</p>
      </div>
      <div class="row center-align menu">
        <div class="col s12">Dashboard</div>
        <div class="col s12">CATEGORIAS</div>
        <div class="col s12">ACTORES</div>
        <div class="col s12">PELICULAS</div>
        <div class="col s12">RENTAS</div>
      </div>
    </div>
    <div class="col s9 dashboardBar" style="padding: 0">
      <div class="row">
        <div class="col s12 bar">
        </div>
        <div class="col s12">
          <div class="row cards">
            <div class="card col s5 " style="margin-left: 8%;margin-right: 2%">
                <p class="left-align">RENT A MOVIE</p>
              <img src="./assets/001-real-estate.png" alt="">
            </div>
            <div class="card col s5">
                <p class="left-align">MOVIES CATEGORIES</p>
                <img src="./assets/002-film.png" alt="">
            </div>
            <div class="card col s5 "style="margin-left: 8%;margin-right: 2%">
                <p class="left-align">ACTORS</p>
                <img src="./assets/003-actor.png" alt="">
            </div>
            <div class="card col s5">
                <p class="left-align">MOVIES</p>
                <img src="./assets/004-video-player.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
